{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/icone.png' %}">
	<title>Easy Movie</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
	
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Notation</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{% url 'movies.views.home' %}">Accueil</a></li>
                  <li><a href="#">Deconnection</a></li>
                  <li><a href="{% url 'movies.views.aPropos' %}">A propos</a></li> 
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Easy Movie</h1>
			<legend> </legend>
				  <div class="row">
				  	<div name="titre" class="lead col-md-8"> (titre du film)
						<a href="#"><img src="http://placehold.it/250x250" class="img-responsive center-block"></a>
						<div class="controls">
							<div class="row">
							</br>
								<button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary" >Clique ici si tu as déjà vu ce film</button>
							</div>
						</div>
         </div>
         {% if rel %}
		 <div class="lead col-md-4"> Noter le film sur 5 (griser la liste s'il n'a pas vu le film)
		 <FORM url="{% static movies.views.notation %}" name="note" method="POST">
			<SELECT name="note" size="1" class="col-md-12" style="background-color:#2586C7;">				
				<OPTION>1
				<OPTION>2
        <OPTION>3
        <OPTION>4
        <OPTION>5
			</SELECT>
		</FORM>
  </br></br>
    <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary" >Valider</button>
		 </div>
		 {% endif %}
          <div class="mastfoot">
            <div class="inner">
              <p>Réalisé par Oreanu  Radu & Cousin Gaetan.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
	<script src="{% static 'js/carousel.js' %}"></script>
  </body>
</html>
