{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/icone.png' %}">
	<title>Easy Movie</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
	
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Easy Movie</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{% url 'movies.views.home' %}">Acceuil</a></li>
                  <li><a href="{% url 'movies.views.home' %}">Deconnection</a></li>
                  <li><a href="#">A propos</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Espace personnel</h1>
			<legend> </legend>
				  <div class="row">
				  	<div class="lead col-md-12"> Résultat de la recherche
					<div class="row">  !-----------!-----------!-----------!------------!---------!---------!----------!--------!--------! </div>
					<div class="row"> AFFICHER TOUTES LES AFFICHES DES FILMS CORRESPONDANT A LA RECHERCHE</div>
         </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Réaliser par Oreanu  Radu & Cousin Gaetan.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
	<script src="{% static 'js/carousel.js' %}"></script>
  </body>
</html>
